/* RESET DA PÃGINA */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans";
}

html, body{
    height: 100%;
}

/******/

/* CLASSES AUXILIARES */

.center{
    margin: 0 auto;
    max-width: 1280px;
    padding: 0 2%;
}

.clear{
    clear: both;
}

/******/

.layer{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;
}

section.main{
    position: relative;
    background-image: url(../images/bg1.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    padding: 15px 0;
    min-height: 629px;
}

section.main header{
    position: relative;
    z-index: 2;
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

.icons-social{
    float: right;
}

.icons-social a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    margin: 0 10px;
}

.logo{
    margin-top: 15px;
    float: left;
    color: white;
    font-size: 28px;
    font-weight: bold;
}

nav.desktop{
    margin-top: 20px;
    float: right;
}

nav.mobile{
    display: none;
    float: right;
}

nav.mobile ul{
    z-index: 2;
    display: none;
    position: absolute;
    left: 0;
    top: 93px;
    background: white;
    width: 100%;
    list-style-type: none;
}

nav.mobile > i{
    font-size: 25px;
    color: white;
    cursor: pointer;
    position: relative;
    top: 23px;
}

nav.mobile li{
    padding: 8px 0;
    text-align: center;
    font-weight: lighter;
    border-bottom: 1px solid #444;
}

nav.mobile a{
    text-decoration: none;
    color: #444;
    display: block;
}

nav.desktop ul{
    list-style-type: none;
}

nav.desktop ul li{
    display: inline-block;
    margin: 0 15px;
    font-size: 17px;
    font-weight: lighter;
}

nav.desktop a{
    color: white;
    text-decoration: none;
}

.conteudo-header{
    max-width: 700px;
    margin: 90px 0;
    position: relative;
    z-index: 1;
}

.conteudo-header h2{
    font-size: 44px;
    font-weight: lighter;
    color: white;
}

.conteudo-header h2 > span{
    color: #2692FF;
}

.conteudo-header p{
    color: white;
    margin-top: 18px;
    font-size: 16px;
    font-weight: lighter;
}

.conteudo-header a{
    display: block;
    width: 177px;
    height: 44px;
    background: #2692FF;
    color: white;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    margin-top: 20px;
    border-radius: 20px;
}

.chamada-planos{
    width: 100%;
    text-align: center;
    padding: 27px 2%;
    background: rgb(220, 220, 220);
}

.chamada-planos h2{
    display: inline-block;
    border-top: 2px solid #2692FF;
    color: #2692FF;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: lighter;
}

.box-planos{
    padding: 40px 0;
}

.box-planos > .center{
    display: flex;
    flex-wrap: wrap;
}

.box-planos-single{
    width: 33.3%;
    padding: 0 40px;
}

.box-planos-wraper{
    width: 100%;
    border: 1px solid #ccc;
    min-height: 240px;
    -webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
}

.box-planos-single h2{
    background: #2692FF;
    color: white;
    text-align: center;
    padding: 3px;
    font-weight: lighter;
}

.pontos-plano{
    padding: 8px 0 15px 0;
}

.preco{
    margin-top: 10px;
    padding: 15px 0;
    text-align: center;
}

.preco h2{
    border-top: 2px solid #ccc;
    font-size: 24px;
    display: inline-block;
    color: #777;
    background-color: transparent;
    padding: 0 20px;
}

.box-planos-single p{
    color: #777;
    font-size: 17px;
    margin-top: 8px;
    margin-left: 20px;
}

section.parallax{
    width: 100%;
    min-height: 300px;
    background-image: url(../images/bg2.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
    color: white;
    padding: 40px 0;
}

section.parallax > .center{
    position: relative;
    z-index: 2;
    margin: 40px auto;
    max-width: 960px;
}

section.parallax h2{
    text-align: center;
    font-weight: lighter;
    font-size: 30px;
} 

section.parallax p{
    margin-top: 15px;
    font-weight: lighter;
}

.overlay-parallax{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: rgba(20,20,20,0.6);
}

section.final-section{
    padding: 50px 0;
}

.w50{
    float: left;
    width: 50%;
    padding: 0 20px;
    margin: 30px 0;
}

section.final-section h2{
    font-weight: lighter;
    color: #777;
    font-size: 28px;
    position: relative;
}

section.final-section h2 > .efeito-borda{
    width: 50px;
    height: 2px;
    background: #777;
    position: absolute;
    transition: 0.4s;
}

section.final-section h2:hover > .efeito-borda{
    width: 100px;
}

.contato form{
    margin-top: 15px;
}

.contato input:not([type=submit]){
    width: 100%;
    height: 40px;
    border: 1px solid #ccc;
    padding-left: 8px;
    margin-top: 10px;
    display: block;
    font-size: 15px;
}

.contato textarea{
    font-size: 15px;
    width: 100%;
    height: 120px;
    border: 1px solid #ccc;
    padding: 8px;
    margin-top: 10px;
    resize: vertical;
}

.contato input[type=submit]{
    font-size: 15px;
    cursor: pointer;
    background: #2692FF;
    color: white;
    border: 0;
    border-radius: 30px;
    width: 100px;
    height: 33px;
    margin-top: 15px;
}

.time > .w50{
    width: 48%;
    margin: 10px 1%;
}

.equipe-single{
    border: 1px solid #ccc;
    min-height: 240px;
    padding: 10px 8px;
    padding-bottom: 20px;
    -webkit-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
    box-shadow: 10px 9px 5px -8px rgba(0,0,0,0.75);
}

.equipe-single .topo-box-usuario{
    padding-top: 10px;
    border-bottom: 1px solid #ccc;
}

.equipe-single .box-avatar{
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #ccc;
    background-image: url(../images/perfil.png);
    background-size: 50px;
}

.info-usuario{
    display: inline-block;
    color: #777;
    padding-left: 10px;
    vertical-align: top;
}

.descricao-usuario-box{
    color: #888;
    font-weight: lighter;
    font-size: 14px;
    margin-top: 10px;
}

footer{
    width: 100%;
    height: 70px;
    padding: 10px 2%;
    text-align: center;
    line-height: 50px;
    color: white;
    background: #444;
}

/******/

/* MEDIA QUERIES */

@media screen and (max-width: 768px){
    nav.mobile{
        display: block;
    }

    nav.desktop{
        display: none;
    }

    .w50{
        width: 100%;
    }
    
    .time > .w50{
        width: 100%;
        margin: 15px 0;
    }

    .box-planos-single{
        width: 100%;
        margin: 10px 0;
    }
}

/******/